//primary
$primary:rgb(255, 81, 0);
$secondary:rgb(255, 255, 255);
$light:rgb(3, 0, 189);
/* The following line can be included in a src/App.scss */
@import "node_modules/bootstrap/scss/bootstrap";
