:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
background-color: #000000;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 @media (max-width: 900px) {
  .logo{
    display: none;
  }
 h2,h3,h4{
  color: aqua 
 }
}
 ;
a {
  font-weight: 500;
  color: #ffffff;
  text-decoration:#ffffff;
}
a:hover {
  color: #ffffff;
}

body {
  margin: 0;
   
  padding: 0%;
  place-items: center;
 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;

}
h1:hover {
  border-bottom: #ff5100 solid ;
  color: #ff5100;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ff9564;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #000000;
  }
  a:hover {
    color: #ffac74;
  }
  button {
    background-color: #ff7b00;
  }
}
